// COLORS
$violet: hsl(257, 40%, 49%);
$magenta: hsl(300, 69%, 71%);
$black: hsl(0, 0%, 0%);
$white: hsl(360, 100%, 100%);

// FONT WEIGHT
$reg: 400;
$semi: 600;

// FONT FAMILY
$pop: 'Poppins', sans-serif;
$open: 'Open Sans', sans-serif;